// // // // // // // // // // //
// RJ Portfolio Site: Mobile //
// // // // // // // // // //


// // // // // // // // // // // // //
// global elements and helper classes
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: $black;
}

body {
  background-color: $smoke;
  font: normal 16px/1.5 $raleway;
}

h1, h2, p, ul, figure {
  margin: 0;
  margin-bottom: 1.5rem;
}

h1, h2 {
  color: $teal;
}

h1 {
  font-family: $josefin;
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.125em;
}

h3 {
  font-size: 1em;
}

ul {
  padding-left: 1.2em;
  li {
    list-style-type: square;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

pre {
  margin-bottom: 1.5em;
  padding: 0.75em;
  text-align: left;
}

code {
  color: $black;
  font-family: $code;
  font-size: 0.75em;
}

header, article {
  padding: 3em 0 1.5em;
}

header, footer {
  text-align: center;
}

.grid {
  @extend .clearfix;
}

.block-bold {
  display: block;
  font-weight: bold;
}


// // // // // // // //
// main page elements
header {
  a {
    h1 {
      border: 3px solid $teal;
      color: $teal;
      display: inline-block;
      font-size: 4em;
      margin-bottom: 3rem;
      padding: 0.25em;
      padding-bottom: 0.15em;
      width: 128.953px;
    }
    &:hover, &:active {
      h1 {
        border: 3px solid $coral;
      }
    }
  }
  p {
    margin-bottom: 3em;
  }
  nav {
    ul {
      padding-left: 0;
      li {
        display: inline-block;
        a {
          color: $teal;
          display: block;
          font-family: $josefin;
          font-size: 1.5em;
          font-weight: bold;
          line-height: 1;
          padding-bottom: 0.15em;
          &:hover {
            border-bottom: 3px solid $coral;
          }
        }
        .nav-active {
          border-bottom: 3px solid $coral;
        }
        &:first-of-type {
          margin-right: 3em;
        }
      }
    }
  }
}

article {
  background-color: $white;
  -webkit-box-shadow: 0 3px 6px rgba($black,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba($black,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba($black,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 3em;
  padding-left: 24/320*100%;
  padding-right: 24/320*100%;
  h2, h3 {
    margin-bottom: 0;
  }
  a {
    color: $coral;
    &:hover, &:active {
      color: $teal;
    }
  }
}

footer {
  ul, p {
    font-size: 0.875em;
    line-height: 24/14*1em;
  }
  ul {
    padding-left: 0;
    li {
      display: inline-block;
      a {
        color: $black;
        padding: 0 0.25em;
        &:hover, &:active {
          color: $coral;
        }
      }
    }
  }
}


// // // // // // // // // // //
// home page specific classes
.portfolio-item {
  margin-bottom: 3em;
  padding-left: 24/320*100%;
  padding-right: 24/320*100%;
  text-align: center;
  .portfolio-logo {
    display: block;
    margin: 0 auto 3em;
    width: 60%;
  }
  .portfolio-copy {
    h1 {
      a {
        color: $teal;
        &:hover {
          border-bottom: 3px solid $teal;
        }
      }
    }
  }
}


// // // // // // // // // // //
// about page specific classes
.about-headline {
  h1 {
    display: none;
  }
}

.sunset {
  background: url('../img/sunset.jpg') no-repeat left center;
  background-size: cover;
  height: 8em;
}


// // // // // // // // // // //
// portfolio page specific classes
.code {
  text-align: center;
  h2 {
    color: $black;
    margin: 1.5em 0;
  }
  img {
    margin-bottom: 1.5em;
  }
  pre {
    background-color: $smoke;
    -webkit-box-shadow: inset 0 3px 6px rgba($black,0.16);
    -moz-box-shadow: inset 0 3px 6px rgba($black, 0.16);
    box-shadow: inset 0 3px 6px rgba($black, 0.16);
    scroll-x: auto;
  }
  .retina-1x {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .retina-2x {
    @extend .retina-1x;
    width: 60%;
  }
  .retina-3x {
    @extend .retina-1x;
    width: 80%;
  }
}

.github {
  background: url('../img/github-logo.png') no-repeat center center;
  background-size: contain;
  clear: both;
  display: block;
  height: 3em;
  margin: 0 auto 1.5em;
  &:hover, &:visited {
    background-image: url('../img/github-logo-active.png');
  }
}

.download {
  border: 2px solid $teal;
  border-radius: 50%;
  color: $teal;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  height: 40px;
  line-height: 1.3;
  margin: 1.5em auto;
  width: 40px;
  &:hover {
    border: 2px solid $coral;
    color: $coral;
  }
}

.hero-desktop {
  display: none;
}

.hero-mobile {
  padding: 0 1.5em;
}
