// // // // // // // // // // //
// RJ Portfolio Site: Tablet //
// // // // // // // // // //

@media screen and (min-width: 768px) {

  // // // // // //
  // grid classes
  div[class*="col-sm"] {
    float: left;
  }

  div[class*="col-sm"] {
    padding-right: 24/768*100%;
    &:last-of-type {
      padding-right: 0;
    }
  }

  .col-sm-1 {
    width: 1/12*100%;
  }

  .col-sm-2 {
    width: 2/12*100%;
  }

  .col-sm-3 {
    width: 3/12*100%;
  }

  .col-sm-4 {
    width: 4/12*100%;
  }

  .col-sm-5 {
    width: 5/12*100%;
  }

  .col-sm-6 {
    width: 6/12*100%;
  }

  .col-sm-7 {
    width: 7/12*100%;
  }

  .col-sm-8 {
    width: 8/12*100%;
  }

  .offset-sm-1 {
    margin-left: 1/12*100%;
  }

  .offset-sm-2 {
    margin-left: 2/12*100%;
  }

  .offset-sm-3 {
    margin-left: 3/12*100%;
  }


  // // // // // // // // // // // // //
  // global elements and helper classes
  body {
    font-size: 18px;
    padding: 0;
  }


  // // // // // // // //
  // main page elements
  header {
    a {
      h1 {
        padding: 0.25em 0 0.15em;
      }
    }
  }

  article {
    padding: 6em 0 4.5em 0;
  }


  // // // // // // // // // // //
  // home page specific classes
  .portfolio-item {
    margin-left: 24/768*100%;
    margin-right: 24/768*100%;
  }


  // // // // // // // // // // //
  // about page specific classes
  .about-headline {
    background-color: $teal;
    position: relative;
    h1 {
      color: $white;
      display: block;
      font-size: 1.75rem;
      left: 50%;
      line-height: 1.2;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: 14em;
    }
  }

  .sunset {
    height: 16em;
  }


  // // // // // // // // // // //
  // portfolio page specific classes
  .code {
    pre {
      max-height: 350px;
    }
    figure[class*="retina"] {
      width: 100%;
    }
  }

  .github {
    width: 10%;
  }

  .hero-mobile {
    display: none;
  }

  .hero-desktop {
    display: block;
    padding: 0 24/768*100%;
  }

} // end media query
