// colors
$black: #000000;
$coral: #eb5b56;
$smoke: #f5f5f5;
$teal: #23a39d;
$white: #ffffff;

// fonts
$josefin: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$raleway: 'Raleway', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
$code: 'Source Code Pro', monospace;
