// colors
$black: #1a1c1a;
$blue: #2f3f69;
$dk-green: #8a9488;
$lt-grey: #efefef;
$lt-green: #ecf6ef;
$orange: #ff754c;
$white: #ffffff;

// fonts
$josefin: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$raleway: 'Raleway', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
$code: 'Source Code Pro', monospace;
